<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>alarm_2_icon</string>
    <string>alarm_3_icon</string>
    <string>alarm_icon</string>
    <string>bath_1</string>
    <string>bath_2</string>
    <string>battery</string>
    <string>battery_icon</string>
    <string>bed_1</string>
    <string>bed_2</string>
    <string>business_1</string>
    <string>business_2</string>
    <string>business_5</string>
    <string>cofee_maker_icon</string>
    <string>default_icon</string>
    <string>dinning_1</string>
    
    <string>door_2_icon</string>
    <string>door_icon</string>
    <string>door_lock_2_icon</string>
    <string>door_lock_icon</string>
    <string>energy_2_icon</string>
    <string>energy_icon</string>
    <string>energy_sensor_icon</string>
    <string>garden</string>
    <string>hue_icon1</string>
    <string>hue_icon2</string>
    <string>keys</string>
    <string>lamp_2_icon</string>
    <string>lamp_3_icon</string>
    <string>lamp_icon</string>
    <string>laptop</string>
    <string>letter</string>
    <string>light_2_icon</string>
    <string>light_3_icon</string>
    <string>light_4_icon</string>
    <string>light_5_icon</string>
    <string>light_icon</string>
    <string>light_icon_6</string>
    <string>living_1</string>
    <string>living_2</string>
    <string>money</string>
    <string>movement_sensor_2_icon</string>
    <string>movement_sensor_3_icon</string>
    <string>movement_sensor_4_icon</string>
    <string>movement_sensor_icon</string>
    <string>music_2_icon</string>
    <string>music_3_icon</string>
    <string>music_4_icon</string>
    <string>music_5_icon</string>
    <string>music_icon</string>
    <string>next_icon</string>
    <string>office_1</string>
    <string>office_2</string>
    <string>office_3</string>
    <string>office_4</string>
    <string>open_close_sensor_2_icon</string>
    <string>open_close_sensor_3_icon</string>
    <string>open_close_sensor_icon</string>
    <string>path4796</string>
    <string>pause_icon</string>
    <string>people_1</string>
    <string>people_2</string>
    <string>plan_1</string>
    <string>plan_2</string>
    <string>plan_3</string>
    <string>plan_4</string>
    <string>play_icon</string>
    <string>power_icon</string>
    <string>power_outlet_2_icon</string>
    <string>power_outlet_icon</string>
    <string>previous_icon</string>
    <string>reception_1</string>
    <string>reception_2</string>
    <string>reception_3</string>
    <string>reception_4</string>
    <string>reception_5</string>
    <string>repeat_icon</string>
    <string>scene_icon</string>
    <string>sensor_icon</string>
    <string>shades_2_icon</string>
    <string>shades_3_icon</string>
    <string>shades_4_icon</string>
    <string>shades_icon</string>
    <string>shuffle_icon</string>
    <string>sound_icon</string>
    <string>switch_icon</string>
    <string>temperature</string>
    <string>temperature_icon</string>
    <string>time</string>
    <string>tv_icon</string>
    <string>water_2_icon</string>
    <string>water_3_icon</string>
    <string>water_icon</string>
    <string>weather_1</string>
    <string>weather_2</string>
</array>
</plist>
